@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");

* {
  font-family: "Montserrat", sans-serif;
  padding: 0;
  margin: 0;
}


:root {
  --black: #1c2a39;
  --gray: #11003ac4;
  --purple: #4c3db2;
}


.navbar {
  height: 120px;
  width: 80%;
  margin-left: 10%;

}


.title {
  font-weight: bold;
}


.menu,
.menu_ikonlari {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  font-size: 20px;
  color: var(--gray);
  cursor: pointer;
}


.menu .aktif {
  color: var(--black);
  font-weight: bold;
}


.menu li,
.menu_ikonlari li {
  margin: 0 10px;
}


.menu_ikonlari li {
  color: var(--black);
}


.sepet_ikon {
  position: relative;
}


.sepetteki_urun {
  position: absolute;
  right: -0.7rem;
  bottom: 0;
  width: 20px;
  height: 20px;
  background-color: var(--black);
  border-radius: 50%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-weight: bold;
}


.slider {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  height: 400px;
}


.slider img {
  height: 400px;
}


.imgyazilari {
  color: var(--black);
  position: absolute;
  left: 40%;
  bottom: 20px;

}


.imgyazilari2 {
  color: var(--black);
  position: absolute;
  left: 480px;
  bottom: 150px;

}


.imgyazilari3 {
  color: whitesmoke;
  position: absolute;
  left: 80px;
  bottom: 5px;

}


.store {
  width: 80%;
  margin-left: 10%;
  /* background-color: #a7b1c2; */
  ;
  height: 80px;
}


.kitap_karti {
  height: 400px;
}

.fos {
  font-family: "Open Sans", sans-serif;
}

.gray {
  color: var(--gray);
}

.black {
  color: var(--black);
}


.fw-bold {
  font-weight: bold;
}

.yildizlar .bi-star,
.bi-star-fill {
  color: #eeedf5;
  font-size: 1.2rem;
  margin-right: 5px;
}

.yildizlar .bi-star-fill.active {
  color: #f2c94c;
}


.kitap-bilgi {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  /* burda kaç satır gösterileceği belirtildi 4 */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  /* ELipsis sonuna nokta nokta yapmamızı sağladı */
}

